<p id="notice"><%= notice %></p>
<div class = "container-fluid text-center mt-4">
<h1 class="text-center">Listado de coches aparcados</h1>
  <div class="text-center mt-4 mb-4"><%= link_to "+ añadir coche", new_car_path, class: "btn btn-primary btn-block" %></div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Coche</th>
      <th scope="col">Llegada</th>
      <th scope="col">Salida</th>
      <th scope="col">Días</th>
      <th scope="col">Precio</th>
      <%# <th scope="col">Action</th> %>
    </tr>
  </thead>
  <tbody>
    <% @cars.reverse().each do |car| %>
      <tr>
        <th scope="row">
          <%= link_to "#{car.name}", edit_car_path(car), method: :get %>
        </th>
        <td><%= car.entry_time %></td>
        <td><%= car.out_time == nil ? "-" : car.out_time %></td>
        <td><%= car.out_time == nil ? (Date.today - car.entry_time).to_i.to_s : (car.out_time - car.entry_time).to_i.to_s %></td>
        <td><%= car.out_time == nil ? number_with_precision((Date.today - car.entry_time).to_i*2.67, precision: 2) : number_with_precision((car.out_time - car.entry_time).to_i*2.67, precision: 2) %>€</td>
        <%  if current_user.email == "marti@gmail.com"%>
          <td><%= link_to "Delete",
                  car_path(car),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th scope="col"> <%=@cars_num%></th>
      <th scope="col">-</th>
      <th scope="col">-</th>
      <th scope="col"><%= @total_days %></th>
      <th scope="col"><%= number_with_precision(@total_price, precision: 2) %>€</th>
      <%# <th scope="col">Action</th> %>
    </tr>
  </tfoot>
</table>
</div>
